body {
    margin: 0;
}

h1{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 50px;
}

/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.form {
    text-align: left;
    margin-left: 150px;
    width: 400px; /* Adjust to your desired width */
    padding: 20px;
    border: 1px solid #ccc;
}

.btn{
    margin-left: 130px;
    margin-top: 20px;
    background-color: aqua;
}
